<div class="container-fluid form-style">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#project_info" data-toggle="tab" aria-expanded="true">Project Info</a></li>
    <li class=""><a href="#news" data-toggle="tab" aria-expanded="false">News</a></li>
  </ul>
  <div id="myTabContent" class="tab-content tab-content-padding-top">
    <div class="tab-pane fade active in" id="project_info">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <h1>Editing project info</h1>

            <form [formGroup]="formGroup">
              <div class="panel panel-primary">
                <div class="panel-heading">Project image</div>
                <div class="panel-body">
                  <div class="profile-picture-section">
                    <div ng2FileDrop [uploader]="uploader" [ng2FileDropSupportedFileTypes]="supportedFileTypes"
                         (ng2FileDropFileAccepted)="dragFileAccepted($event)"
                         class="profile-picture-section-drop-zone">
                      <div *ngIf="!imageShown" class="profile-picture-section-request-image-group">
                        <p class="profile-picture-section-request-image-instructions">Drop a project picture here</p>
                      </div>
                      <div *ngIf="imageShown" class="profile-picture-section-request-image-container">
                        <img class="profile-picture-section-request-image" [src]="currentProfileImage">
                      </div>
                    </div>
                    <p class="profile-picture-section-limitations">Project picture can be .png, .jpeg or .gif only</p>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="panel panel-primary">
                  <div class="panel-heading">Project title</div>
                  <div class="panel-body">
                    <div class="form-group">
                      <input class="form-control" id="title" placeholder="Title" name="title"
                             [(ngModel)]="project.title" formControlName="title"/>
                    </div>
                    <div *ngIf="formGroup.get('title').errors && formGroup.get('title').touched" class="alert alert-danger">
                      <div *ngIf="formGroup.get('title').hasError('required')">
                        Title is required.
                      </div>
                      <div *ngIf="formGroup.get('title').hasError('maxlength')">
                        Title should be maximum {{formGroup.get('title').getError('maxlength').requiredLength}} characters.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="panel panel-primary">
                  <div class="panel-heading">Project description</div>
                  <div class="panel-body">
                    <app-text-editor
                      [elementId]="'project_description'"
                      [value]="project.description"
                      (onEditorKeyup)="onTextEditorKeyUp($event)">
                    </app-text-editor>
                  </div>
                </div>
              </div>

            </form>
          </div>

          <div class="col-md-3 col-md-offset-1 col-sm-4">
            <h1>Project card</h1>
            <app-project-card [project]="project" [localImage]="currentProfileImage"></app-project-card>
          </div>
        </div>

        <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>
          <div *ngIf="successMessage" class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ successMessage }}
          </div>
          <button type="submit" class="btn btn-success btn-md btn-block"
                  [disabled]="!formGroup.valid" (click)="onSubmit()">Save</button>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="news">
      <app-news [projectId]="project.id"></app-news>
    </div>
  </div>
</div>
