<div class="container-fluid form-style">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#project_info" data-toggle="tab" aria-expanded="true">
        {{'PROJECT_EDITING.TABS.INFO' | translate}}
      </a>
    </li>
    <li class="">
      <a href="#news" data-toggle="tab" aria-expanded="false">{{'PROJECT_EDITING.TABS.NEWS' | translate}}</a>
    </li>
    <li class="">
      <a href="#rewards" data-toggle="tab" aria-expanded="false">{{'PROJECT_EDITING.TABS.REWARDS' | translate}}</a>
    </li>
    <li class="">
      <a href="#goals" data-toggle="tab" aria-expanded="false">{{'PROJECT_EDITING.TABS.GOALS' | translate}}</a>
    </li>
    <li class="">
      <a href="" data-toggle="tab" aria-expanded="false"
         (click)="viewProjectPage()">{{'PROJECT_EDITING.TABS.VIEW' | translate}}</a>
    </li>
  </ul>
  <div id="myTabContent" class="tab-content tab-content-padding-top">
    <div class="tab-pane fade active in" id="project_info">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <h1>{{'PROJECT_EDITING.EDIT_TITLE' | translate}}</h1>

            <form [formGroup]="formGroup">
              <div class="panel panel-primary">
                <div class="panel-heading">{{'PROJECT_EDITING.IMAGE' | translate}}</div>
                <div class="panel-body">
                  <div class="profile-picture-section">
                    <div ng2FileDrop [uploader]="uploader" [ng2FileDropSupportedFileTypes]="supportedFileTypes"
                         (ng2FileDropFileAccepted)="dragFileAccepted($event)"
                         class="profile-picture-section-drop-zone">
                      <div *ngIf="!imageShown" class="profile-picture-section-request-image-group">
                        <p class="profile-picture-section-request-image-instructions">{{'PROJECT_EDITING.DROP_ZONE' |
                          translate}}</p>
                      </div>
                      <div *ngIf="imageShown" class="profile-picture-section-request-image-container">
                        <img class="profile-picture-section-request-image" [src]="currentProfileImage">
                      </div>
                    </div>
                    <p class="profile-picture-section-limitations">{{'PROJECT_EDITING.DROP_HINT' | translate}}</p>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="panel panel-primary">
                  <div class="panel-heading">{{'PROJECT_EDITING.TITLE' | translate}}</div>
                  <div class="panel-body">
                    <div class="form-group">
                      <input class="form-control" id="title" placeholder="{{'PROJECT_EDITING.TITLE' | translate}}"
                             name="title"
                             [(ngModel)]="project.title" formControlName="title"/>
                    </div>
                    <div *ngIf="formGroup.get('title').errors && formGroup.get('title').touched"
                         class="alert alert-danger">
                      <div *ngIf="formGroup.get('title').hasError('required')">
                        {{'PROJECT_EDITING.TITLE_REQUIRED_ERROR' | translate}}.
                      </div>
                      <div *ngIf="formGroup.get('title').hasError('maxlength')">
                        {{'PROJECT_EDITING.TITLE_MAX_ERROR.BEGINNING' | translate}}
                        {{formGroup.get('title').getError('maxlength').requiredLength}}
                        {{'PROJECT_EDITING.TITLE_MAX_ERROR.ENDING' | translate}}.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="panel panel-primary">
                  <div class="panel-heading">{{'PROJECT_EDITING.DESCRIPTION' | translate}}</div>
                  <div class="panel-body">
                    <app-text-editor
                      [elementId]="'project_description'"
                      [value]="project?.description"
                      (onEditorKeyup)="onTextEditorKeyUp($event)">
                    </app-text-editor>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="panel panel-primary">
                  <div class="panel-heading">{{'PROJECT_EDITING.REWARD.AMOUNT_MINIMUM' | translate}}</div>
                  <div class="panel-body">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input class="form-control" id="reward_amount_minimum" placeholder="{{'PROJECT_EDITING.REWARD.AMOUNT_MINIMUM' | translate}}"
                               name="reward_amount_minimum" formControlName="amountMin"
                               [(ngModel)]="project.donateMin"/>
                      </div>
                      <div *ngIf="formGroup.get('amountMin').errors && formGroup.get('amountMin').touched" class="alert alert-danger">
                        <div *ngIf="formGroup.get('amountMin').hasError('required')">
                          {{'PROJECT_EDITING.MIN_AMOUNT_REQUIRED' | translate}}.
                        </div>
                        <div *ngIf="formGroup.get('amountMin').hasError('incorrectAmountFormat')">
                          {{'PROJECT_EDITING.MIN_AMOUNT_WRONG' | translate}}.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <div class="form-group">
              <div class="panel panel-primary">
                <div class="panel-heading">{{'PROJECT_EDITING.DESCRIPTION' | translate}}</div>
                <div class="panel-body">
                  <rl-tag-input [(ngModel)]="project.tags" placeholder="{{'PROJECT_EDITING.ENTER_TAGS' | translate}}"></rl-tag-input>
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-3 col-md-offset-1 col-sm-4 margin-bottom">
            <h1>{{'PROJECT_EDITING.CARD' | translate}}</h1>
            <app-project-card [project]="project" [localImage]="currentProfileImage"></app-project-card>
          </div>
        </div>

        <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>
          <div *ngIf="successMessage" class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ successMessage }}
          </div>
          <button type="submit" class="btn btn-success btn-md btn-block"
                  [disabled]="!formGroup.valid || !imageLoaded || submitted" (click)="onSubmit()">{{'PROJECT_EDITING.SAVE' | translate}}
          </button>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="news">
      <app-news [projectId]="project.id"></app-news>
    </div>
    <div class="tab-pane fade" id="rewards">
      <app-rewards [projectId]="project.id"></app-rewards>
    </div>
    <div class="tab-pane fade" id="goals">
      <app-goals [projectId]="project.id"></app-goals>
    </div>
  </div>
</div>
