<div class="btn-group-vertical control-btn">
  <form (ngSubmit)="onSubmitBlock(true)">
    <button type="submit" class="btn btn-success btn-md btn-block">Block</button>
  </form>
  <!--<form (ngSubmit)="onSubmit()">-->
    <!--<button type="submit" class="btn btn-success btn-md btn-block">Unblock</button>-->
  <!--</form>-->
  <!--<form (ngSubmit)="onSubmit()">-->
    <!--<button type="submit" class="btn btn-success btn-md btn-block">Confirm</button>-->
  <!--</form>-->
  <!--<form (ngSubmit)="onSubmit()">-->
    <!--<button type="submit" class="btn btn-success btn-md btn-block">Delete</button>-->
  <!--</form>-->
  <div class="checkbox">
    <label>
      <input type="checkbox"> With Comments
    </label>
    <label>
      <input type="checkbox"> With Projects
    </label>
    <label>
      <input type="checkbox"> With Ratings
    </label>
  </div>
</div>
