<div class="footer">
    <p class = "type-12 ">
      © 2017
    </p>
    <div>
      <select (change)="onClickAddLangCookie($event.target.value)" class=" my-select right " id="select-lang">
        <option>English</option>
        <option>Russian</option>
      </select>
    </div>
    <div>
      <select id="select_theme" (change)="onClickAddThemeCookie($event.target.value)"
              class=" my-select left " >
        <option>Light</option>
        <option [selected]="dark_theme_selected">Dark</option>
      </select>
    </div>
</div>
