<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div class="form-group row">
      <label for="project_description" class="col-md-2 col-form-label">Project description</label>
      <div class="col-md-10">
        <p>
          Use your project description to share more about what you’re raising funds
          to do and how you plan to pull it off. It’s up to you to make the case for your project.
        </p>
        <app-text-editor
          [elementId]="'project_description'"
          [value]="defaultBodyValue"
          (onEditorKeyup)="onTextEditorKeyUp($event)">
        </app-text-editor>
      </div>
    </div>
  </div>
</div>
