<div class="modal-dialog">
  <div class="modal-content custom-modal-container">
    <div class="modal-header">
      <div class="row custom-modal-header bg-success text-white">
        <div class="col-sm-12">
          <h2>Would you like to become a creator?</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="jumbotron">
          <h3>If you want to create a project, send us your passport scan</h3>
          <div class="profile-picture-section">
            <div ng2FileDrop [uploader]="uploader" [ng2FileDropSupportedFileTypes]="supportedFileTypes"
                 (ng2FileDropFileAccepted)="dragFileAccepted($event)"
                 class="profile-picture-section-drop-zone">
              <div *ngIf="!imageShown" class=profile-picture-section-request-image-group>
                <p class="profile-picture-section-request-image-instructions">Drop your passport scan here</p>
              </div>
              <div *ngIf="imageShown" class=profile-picture-section-request-image-container>
                <img class="profile-picture-section-request-image" [src]="currentProfileImage">
              </div>
            </div>
            <p class="profile-picture-section-limitations">Profile picture can be .png, .jpeg or .gif only</p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-sm-6">
          <button class="form-control btn btn-success" (click)="confirm()">Confirm</button>
        </div>
        <div class="col-sm-6">
          <button class="form-control btn btn-success" (click)="close()">Later</button>
        </div>
      </div>
    </div>
  </div>
</div>
