<div class="custom-style tab-style">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#user-list" data-toggle="tab" aria-expanded="true">User list</a></li>
    <li class=""><a href="#project-list" data-toggle="tab" aria-expanded="false">Project list</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="user-list">
      <app-user-panel></app-user-panel>
    </div>
    <div class="tab-pane fade" id="project-list">
      <app-list-of-projects></app-list-of-projects>
    </div>
  </div>
</div>
