a {
  text-decoration: none;
}

a:hover {
  color: #000000;
  cursor: pointer;
}

span {
  font-size: 1.2em;
}

.news-date {
  font-family: "Bitstream Vera Serif";
  font-size: larger;
}

.news-title {
  font-family: "Lato Hairline";
}
