<div class="container" style="padding-top: 60px;">
  <h1 class="less-great-title">{{'USER.EDIT_PROFILE' | translate}}  :   {{model.email}}</h1>
  <h3 class="text-warning">Status : {{model.blockStatus}}</h3>
  <hr class="great-hr">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <div class="item">
          <img src="{{biography.imageurl}}"  class="avatar  img-thumbnail" alt="avatar">
          <h6>{{'USER.UPLOAD' | translate}}...</h6>
          <div class="profile-picture-section">
            <div ng2FileDrop [uploader]="uploader" [ng2FileDropSupportedFileTypes]="supportedFileTypes"
                 (ng2FileDropFileAccepted)="dragFileAccepted($event)"
                 class="profile-picture-section-drop-zone">
              <div *ngIf="!imageShown" class=profile-picture-section-request-image-group>
                <p class="profile-picture-section-request-image-instructions">{{'USER.DROP' | translate}}</p>
              </div>
              <div *ngIf="imageShown" class=profile-picture-section-request-image-container>
                <img class=profile-picture-section-request-image [src]="currentProfileImage">
              </div>
            </div>
            <p class="profile-picture-section-limitations">{{'USER.CAN_BE_ONLY' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <h3>{{'USER.PERSONAL_INFO' | translate}}</h3>
      <form class="form-horizontal" role="form" [formGroup]="formGroup">
        <div class="form-group">
          <label class="col-lg-3 control-label">{{'USER.USERNAME' | translate}} :</label>
          <div class="col-lg-8">
            <input class="form-control" [(ngModel)]="biography.name" [ngModelOptions]="{standalone: true}" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">{{'USER.BIOGRAPHY' | translate}} :</label>
          <div class="col-lg-8">
            <input class="form-control" [(ngModel)]="biography.biography" [ngModelOptions]="{standalone: true}" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">{{'USER.LOCATION' | translate}} :</label>
          <div class="col-lg-8">
            <input id="location" [(ngModel)]="biography.location" [ngModelOptions]="{standalone: true}" class="form-control" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">{{'USER.PASSWORD' | translate}} :</label>
          <div class="col-md-8">
            <input class="form-control" formControlName="password" [(ngModel)]="model.password" type="password">
          </div>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger col-lg-8 col-lg-offset-3 ">
          {{ errorMessage }}
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input *ngIf="!authService.isAnonymous() && !authService.isBlocked()" (click)="onSubmit()" class="btn btn-primary" value="{{'USER.SAVE' | translate}}" type="button"
                   [disabled]="!imageLoaded">
          </div>
        </div>
        <div *ngIf="successMessage" class="alert alert-success col-lg-8 col-lg-offset-3">
          {{ successMessage }}
        </div>
      </form>
    </div>
  </div>
</div>
