<div class="container form-style">
  <div class="jumbotron margin-top">
    <h1>Project Starter</h1>
    <p>Do you want to become a creator?! Join us faster and verify your identity</p>
    <p><a class="btn btn-primary btn-lg" (click)="joinUs()">Join us</a></p>
  </div>
  <h1>Last projects</h1>
  <div class="row">
    <!--<app-project-card></app-project-card>-->
    <!--<app-project-card></app-project-card>-->
    <!--<app-project-card></app-project-card>-->
    <!--<app-project-card></app-project-card>-->
    <!--<app-project-card></app-project-card>-->
    <!--<app-project-card></app-project-card>-->
    <!--<app-project-card></app-project-card>-->
  </div>
</div>
