<div class="container form-style">
  <div *ngIf="authService.isAnonymous()" class="jumbotron margin-top">
    <h1>{{'HOME_PAGE.PROJECT_STARTER' | translate}}</h1>
    <p>{{'HOME_PAGE.JOIN' | translate}}</p>
    <p><a routerLink="../registration" routerLinkActive="active"
          class="btn btn-primary btn-lg">{{'HOME_PAGE.JOIN_US' | translate}}</a></p>
  </div>
  <div *ngIf="lastCreatedProjects">
    <h1 class="great-title">{{'HOME_PAGE.LAST_CREATED' | translate}}</h1>
    <hr class="great-hr">
    <div class="row">
      <div *ngFor="let project of lastCreatedProjects" class="cursor col-md-3"
           routerLink="../project-info/{{project.id}}" routerLinkActive="active">
        <app-project-card [project]="project"></app-project-card>
      </div>
    </div>
    <button routerLink="last-projects" routerLinkActive="active">SEE ALL LAST PROJECTS</button>
  </div>
  <hr class="great-hr">
  <div *ngIf="successfullyFinancedProjects">
    <h1 class="great-title">{{'HOME_PAGE.SUC_FINANCED' | translate}}</h1>
    <hr class="great-hr">
    <div class="row">
      <div *ngFor="let project of successfullyFinancedProjects" class="cursor col-md-3"
           routerLink="../project-info/{{project.id}}" routerLinkActive="active">
        <app-project-card [project]="project"></app-project-card>
      </div>
    </div>
  </div>
  <hr class="great-hr">
  <div *ngIf="successfullyFinancedProjects">
    <h1 class="great-title">{{'HOME_PAGE.BEST_DONATIONS' | translate}}</h1>
    <hr class="great-hr">
    <div class="row">
      <div *ngFor="let donate of theBiggestDonations; let i = index" class="col-md-4">
        <app-donate-card [donate]="donate" [number]="i + 1"></app-donate-card>
      </div>
    </div>
  </div>

</div>
