<div class="container filter-panel">
  <label for="select-users" class="col-xs-1 control-label col-md-offset-2">Load Users:</label>
  <div class="col-xs-4">
    <select class="form-control" id="select-users">
      <option>All Users</option>
      <option>Confirmed Users</option>
      <option>Users to Confirm</option>
      <option>Administrators</option>
    </select>
    <br>
  </div>
  <label for="sort-users" class="col-xs-1 control-label">Sort Users By:</label>
  <div class="col-xs-4">
    <select class="form-control" id="sort-users">
      <option>Last Login</option>
      <option>Registration Date</option>
      <option>Status</option>
      <option>Amount Of Projects</option>
    </select>
    <br>
  </div>
</div>
