<div class="container form-style text-center alert alert-warning">
  <h1>{{"PAYMENT.GOING_TO_DONATE" | translate}} {{amount}}$ {{"PAYMENT.TO_PROJECT" | translate}}.</h1>
  <h3>{{"PAYMENT.ARE_YOU_SURE" | translate}}?</h3>
  <h4>{{"PAYMENT.CLICK" | translate}}.</h4>
  <button class="btn btn-warning my_btn_pay" (click)="toPay()">{{"PAYMENT.PAY" | translate}}</button>
</div>
<h2 *ngIf="isClickedPay()" class="text-center">
  <span class="glyphicon glyphicon-ok green" *ngIf="isClickedPay()" aria-hidden="true"></span>
  {{"PAYMENT.CONGRATS" | translate}}!!!
</h2>
<div class="row col-md-8 col-md-offset-2">
  <button class="btn btn-block btn-lg btn-warning" (click)="returnBack()">Back to the Project</button>
</div>


