<div class="container">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <form>
      <div class="form-group row">
        <label for="project_image" class="col-sm-3 col-form-label">Project image</label>
        <div class="col-sm-9">
          <textarea class="form-control textarea-resize-disable" rows="4" id="project_image"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label for="project_title" class="col-sm-3 col-form-label">Project title</label>
        <div class="col-sm-9">
          <input class="form-control" id="project_title" placeholder="Title" name="project_title"
                 [(ngModel)]="project.title"/>
        </div>
      </div>

      <div class="form-group row">
        <label for="funding_duration" class="col-sm-3 col-form-label">Funding duration</label>
        <div class="col-sm-9">
          <input class="form-control" id="funding_duration" name="funding_duration"/>
        </div>
      </div>

      <div class="form-group row">
        <label for="funding_goal" class="col-sm-3 col-form-label">Funding goal</label>
        <div class="col-sm-9">
          <input class="form-control" id="funding_goal" name="funding_goal"/>
        </div>
      </div>

    </form>
  </div>
</div>
