<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div *ngIf="!needToCreate" class="row">
      <div *ngIf="successMessage" class="alert alert-dismissible alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ successMessage }}
      </div>
      <h1 class="text-center">{{'PROJECT_EDITING.CREATE_NEW' | translate}} <i class="text-info">{{'PROJECT_EDITING.GOALS.GOAL'
        | translate}}</i> {{'PROJECT_EDITING.TO_PROJECT' | translate}}</h1>
      <h2 class="text-center">{{'PROJECT_EDITING.CANT_CHANGE' | translate}}</h2>
      <h3 class="text-center">{{'PROJECT_EDITING.BETTER' | translate}}</h3>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <button (click)="showCreating()" class="btn btn-default btn-lg btn-block btn-info">
            {{'PROJECT_EDITING.GOALS.CREATE' | translate}}
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="needToCreate" class="form-group">
      <h1>{{'PROJECT_EDITING.GOALS.WRITE_ABOUT' | translate}}</h1>
      <form (ngSubmit)="create()" [formGroup]="formGroup">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input class="form-control" id="goal_amount" placeholder="{{'PROJECT_EDITING.GOALS.AMOUNT' | translate}}"
                   name="goal_amount" [(ngModel)]="goal.amount" formControlName="amount"/>
          </div>
          <div *ngIf="formGroup.get('amount').errors && formGroup.get('amount').touched" class="alert alert-danger">
            <div *ngIf="formGroup.get('amount').hasError('required')">
              Amount of donation is required.
            </div>
            <div *ngIf="formGroup.get('amount').hasError('incorrectAmountFormat')">
              Amount of donation is wrong. It should be integer value.
            </div>
          </div>
        </div>
        <div class="form-group margin-top">
          <textarea class="textarea form-control" rows="5" [(ngModel)]="goal.goalText" id="goal_description"
                    placeholder="{{'PROJECT_EDITING.GOALS.DESCRIPTION' | translate}}"
                    name="goal_description" formControlName="description"></textarea>
          <div *ngIf="formGroup.get('description').errors && formGroup.get('description').touched" class="alert alert-danger">
            <div *ngIf="formGroup.get('description').hasError('required')">
              Description is required.
            </div>
          </div>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger margin-top">
          {{ errorMessage }}
        </div>
        <div class="text-center margin-top">
          <button (click)="cancel()" class="btn btn-default btn-md">{{'PROJECT_EDITING.GOALS.CANCEL' | translate}}
          </button>
          <button type="submit" class="btn btn-success btn-md">{{'PROJECT_EDITING.GOALS.CREATE' |
            translate}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
