  <md-card class="card my-card margin-top col-md-3 ">
    <md-card-content class="card-block">
      <div class="row">
        <h3 class="col-md-12 text-center text-warning">{{reward.amount}}$</h3>
      </div>
      <div class="row">
        <div [innerHTML]="reward.description"></div>
      </div>
    </md-card-content>
    <md-card-footer *ngIf="!authService.isBlocked()">
      <button class="btn btn-warning btn-block" (click)="onContinue($event)">{{'PROJECT_INFO.CONTINUE' | translate}}</button>
    </md-card-footer>
  </md-card>
