<div class="container form-style">
  <h1 class="less-great-title">{{'PROJECTS.MY_TITLE' | translate}}</h1>
  <hr class="great-hr">
  <div class="row">
    <div *ngFor="let project of projects" class="cursor col-md-3 col-sm-4"
         routerLink="../project/edit/{{project.userId}}/{{project.id}}" routerLinkActive="active">
      <app-project-card [project]="project"></app-project-card>
    </div>
  </div>
  <div *ngIf="boolParam" class="row">
    <div class="container form-style text-center alert alert-warning">
      <h1>{{'PROJECTS.H1' | translate}}.</h1>
      <h2>{{'PROJECTS.H2' | translate}}!</h2>
    </div>
  </div>
</div>
