<div class="row">
  <div class="col-md-12 ">
      <div class="row">
        <div class="col-xs-12 col-md-12 text-center">
          <h1 class="rating-num">
            {{rating}}</h1>
          <div class="rating">
            <span (click)="onRating(5)" class="glyphicon glyphicon-star"></span>
            <span (click)="onRating(4)" class="glyphicon glyphicon-star"></span>
            <span (click)="onRating(3)" class="glyphicon glyphicon-star"></span>
            <span (click)="onRating(2)" class="glyphicon glyphicon-star"></span>
            <span (click)="onRating(1)" class="glyphicon glyphicon-star"></span>
          </div>
          <div>
            <span class="glyphicon glyphicon-user"></span>{{amountOfDonaters}}
          </div>
        </div>
      </div>
  </div>
</div>

