.achievement-style {
  background-color: #779ECB;
  color: #21527f;
}
.unachievement-style {
  background-color: darkgrey;
  color: #3A3A3A;
}

.img-center {
  display: table;
  margin: 0 auto;
}

.center {
  margin: 0 auto;
}

md-card {
  border-radius: 7px;
}
