<md-card class="card margin-top" [class.achievement-style]="achievement.achieved" [class.unachievement-style]="!achievement.achieved">
  <md-card-header>
    <h2 class="center">{{achievement.achievementName}}</h2>
  </md-card-header>
  <md-card-content>
    <img *ngIf="(achievement.achieved === true)" class="img-center" src="/assets/images/medal.png">
    <img *ngIf="(achievement.achieved === false)" class="img-center" src="/assets/images/gray-medal.png">
  </md-card-content>
  <md-card-footer>
    <h3 *ngIf="!(achievement.date === '')" class="text-center">{{achievement.date | date}}</h3>
    <h3 *ngIf="(achievement.date == null)" class="text-center">U don't have it yet</h3>
  </md-card-footer>
</md-card>
