<div class="container form-style">
  <h1 class="less-great-title">{{"PROJECTS.SUB_TITLE" | translate}}</h1>
  <hr class="great-hr">
  <div class="row">
    <div *ngFor="let project of subscribedProjects" class="cursor col-md-3 col-sm-4"
         routerLink="../project-info/{{project.id}}" routerLinkActive="active">
      <app-project-card [project]="project"></app-project-card>
    </div>
  </div>
  <div *ngIf="noSubscribedProjects" class="row">
    <div class="container form-style text-center alert alert-warning">
      <h1>{{'PROJECTS.SUBSCRIBED_H1' | translate}}.</h1>
      <h2>{{'PROJECTS.SUBSCRIBED_H2' | translate}}!</h2>
    </div>
  </div>
</div>
