<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div *ngIf="!needToCreate" class="row">
      <div *ngIf="successMessage" class="alert alert-dismissible alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ successMessage }}
      </div>
      <a (click)="showCreating()" class="btn btn-default btn-lg btn-block">
        {{'PROJECT_EDITING.NEWS.CREATE' | translate}}
      </a>
    </div>
    <div *ngIf="needToCreate" class="form-group">
      <h1>{{'PROJECT_EDITING.NEWS.WRITE_ABOUT' | translate}}</h1>
      <input class="form-control" id="news_title" placeholder="{{'PROJECT_EDITING.NEWS.TITLE' | translate}}" name="news_title"
             [(ngModel)]="news.title"/>
      <div class="margin-top">
        <app-text-editor
          [elementId]="'project_news'"
          [value]="defaultBodyValue"
          (onEditorKeyup)="onTextEditorKeyUp($event)">
        </app-text-editor>
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger margin-top">
        {{ errorMessage }}
      </div>
      <div class="text-center margin-top">
        <a (click)="cancel()" class="btn btn-default btn-md">{{'PROJECT_EDITING.NEWS.CANCEL' | translate}}</a>
        <a (click)="create()" class="btn btn-success btn-md">{{'PROJECT_EDITING.NEWS.CREATE' | translate}}</a>
      </div>
    </div>
  </div>
</div>
