<div class="container form-style">
  <form (submit)="search()" class="navbar-form navbar-left" role="search">
    <div class="form-group has-feedback">
      <input type="text" class="form-control" id="searchInput" placeholder="Search"
             [(ngModel)]="searchRequest" name="searchInput">
      <span class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>
  </form>

  <div *ngFor="let project of projects">
    <h3>{{ project?.title }}</h3>
  </div>

  <div class="search-results"
       infinite-scroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="1000"
       (scrolled)="onScroll()">
  </div>
</div>
