<md-card class="card margin-top">
  <img md-card-image src="{{!localImage ? project.imageUrl : localImage}}" alt="{{'PROJECT_CARD.PROJECT_IMAGE' | translate}}">
  <md-card-title><h4>{{project.title}}</h4></md-card-title>
  <md-card-content>
    <span class="bold">${{project.currentAmount}}</span> {{'PROJECT_CARD.PLEDGED' | translate}}<br>
    <span class="bold">{{daysToGo}}</span> {{'PROJECT_CARD.DAYS_TO_PLEDGE' | translate}}
    <div class="progress goal-progress-container">
      <div class="progress-bar progress-bar-success progress-bar-striped active goal-progress"
           role="progressbar" [attr.aria-valuenow]="value" aria-valuemin="0" aria-valuemax="100"
           [style.width]="value + '%'">
      </div>
    </div>
  </md-card-content>
</md-card>
