
  <div class="modal-dialog">
    <div class="modal-content container-fluid custom-modal-container">
          <div class="row custom-modal-header bg-success text-white">
            <div class="col-sm-12">
              <h1 class="modal-title">{{'CONFIRM.TITLE' | translate}}</h1>
            </div>
          </div>

          <div class="row" >
            <div class="col-xs-10 col-xs-offset-2">
              <img  class="myimg avatar  img-thumbnail" alt="passportScan" [src]="passportScan">
            </div>
          </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-sm-4">
              <button class="form-control btn btn-success" (click)="confirm()">{{'CONFIRM.CONFIRM' | translate}}</button>
            </div>
            <div class="col-sm-4">
              <button class="form-control btn btn-success" (click)="dismiss()">{{'CONFIRM.DISMISS' | translate}}</button>
            </div>
            <div class="col-sm-4">
              <button class="form-control btn btn-success" (click)="close()">{{'CONFIRM.LATER' | translate}}</button>
            </div>
          </div>
        </div>
    </div>
  </div>

