@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.form-style {
  margin-top: 50px;
  padding-top: 15px;

  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.textarea-resize-disable {
  resize: none;
}
