.margin-top {
  margin-top: 15px;
}

.description-block {
  background: #f0f0f0; /* Цвет фона */
  border: 1px; /* Параметры рамки */
  padding: 10px; /* Поля вокруг текста */
  border-radius: 7px;
}

/*.reward-card {*/
  /*background: #E0F7FA; !* Цвет фона *!*/
  /*border: 1px solid #4DD0E1; !* Параметры рамки *!*/
  /*padding: 7px; !* Поля вокруг текста *!*/
  /*border-radius: 7px;*/
  /*color: #4DD0E1;*/
/*}*/

/*.reward-border {*/
  /*border: 1px; !* Параметры рамки *!*/
  /*border-radius: 7px;*/
/*}*/
