<div class="container form-style">
  <div class="text-center">
    <h1 id="project_title">{{project.title}}</h1>
  </div>
  <div class="row">
    <div class="col-md-8 col-xs-12 text-center">
      <cl-image public-id="{{project.imageUrl}}" cloud-name="project-starter"></cl-image>
      <!--<img src="https://tr4.cbsistatic.com/hub/i/r/2017/02/01/aebb34ab-f843-4e44-a39a-a083da99fcef/resize/770x/cb52e22968e0e566fa93d7d3403d95cc/istock-518310332.jpg" class="avatar img-thumbnail" alt="Project image">-->
    </div>
    <div class="col-md-4 col-xs-12">
      <h3>${{project.currentAmount / 100}}</h3>
      <p>pledged of ${{project.targetAmount / 100}} goal</p>
      <h3>371</h3>
      <p>backers</p>
      <h3>{{daysToGo}}</h3>
      <p>days to go</p>
    </div>
  </div>
  <ul class="nav nav-tabs margin-top">
    <li class="active"><a href="#campaign" data-toggle="tab" aria-expanded="true">Campaign</a></li>
    <li class=""><a href="#rewards" data-toggle="tab" aria-expanded="false">Rewards</a></li>
    <li class=""><a href="#news" data-toggle="tab" aria-expanded="false">News</a></li>
    <li class=""><a href="#comments" data-toggle="tab" aria-expanded="false">Comments</a></li>
  </ul>
  <div id="tabContent" class="tab-content">
    <div class="tab-pane fade active in" id="campaign">
      <div class="row">
        <div class="col-md-8 col-xs-12">
          <h2>About this project</h2>
          <div class="margin-top description-block" id="description" [innerHTML]="project.description">
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <h2>Project goals</h2>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="rewards">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
          <h2>Support this project</h2>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="news">
      <h2>News</h2>
    </div>
    <div class="tab-pane fade" id="comments">
      <h2>Comments</h2>
    </div>
  </div>
</div>

<!--<div class="container form-style" style="padding-top: 60px;">-->
  <!--<h1 class="page-header">Edit Profile</h1>-->
  <!--<div class="row">-->
    <!--&lt;!&ndash; left column &ndash;&gt;-->
    <!--<div class="col-md-4 col-sm-6 col-xs-12">-->
      <!--<div class="text-center">-->
        <!--<img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar">-->
        <!--<h6>Upload a different photo...</h6>-->
        <!--<input type="file" class="text-center center-block well well-sm">-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; edit form column &ndash;&gt;-->
    <!--<div class="col-md-8 col-sm-6 col-xs-12 personal-info">-->
      <!--<div class="alert alert-info alert-dismissable">-->
        <!--<a class="panel-close close" data-dismiss="alert">×</a>-->
        <!--<i class="fa fa-coffee"></i>-->
        <!--This is an <strong>.alert</strong>. Use this to show important messages to the user.-->
      <!--</div>-->
      <!--<h3>Personal info</h3>-->
      <!--<form class="form-horizontal" role="form">-->
        <!--<div class="form-group">-->
          <!--<label class="col-lg-3 control-label">First name:</label>-->
          <!--<div class="col-lg-8">-->
            <!--<input class="form-control" value="Jane" type="text">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label class="col-lg-3 control-label">Last name:</label>-->
          <!--<div class="col-lg-8">-->
            <!--<input class="form-control" value="Bishop" type="text">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label class="col-lg-3 control-label">Company:</label>-->
          <!--<div class="col-lg-8">-->
            <!--<input class="form-control" value="" type="text">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label class="col-lg-3 control-label">Email:</label>-->
          <!--<div class="col-lg-8">-->
            <!--<input class="form-control" value="janesemail@gmail.com" type="text">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label class="col-lg-3 control-label">Time Zone:</label>-->
          <!--<div class="col-lg-8">-->
            <!--<div class="ui-select">-->
              <!--<select id="user_time_zone" class="form-control">-->
                <!--<option value="Hawaii">(GMT-10:00) Hawaii</option>-->
                <!--<option value="Alaska">(GMT-09:00) Alaska</option>-->
                <!--<option value="Pacific Time (US & Canada)">(GMT-08:00) Pacific Time (US & Canada)</option>-->
                <!--<option value="Arizona">(GMT-07:00) Arizona</option>-->
                <!--<option value="Mountain Time (US & Canada)">(GMT-07:00) Mountain Time (US & Canada)</option>-->
                <!--<option value="Central Time (US & Canada)" selected="selected">(GMT-06:00) Central Time (US & Canada)</option>-->
                <!--<option value="Eastern Time (US & Canada)">(GMT-05:00) Eastern Time (US & Canada)</option>-->
                <!--<option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>-->
              <!--</select>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label class="col-md-3 control-label">Username:</label>-->
          <!--<div class="col-md-8">-->
            <!--<input class="form-control" value="janeuser" type="text">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label class="col-md-3 control-label">Password:</label>-->
          <!--<div class="col-md-8">-->
            <!--<input class="form-control" value="11111122333" type="password">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label class="col-md-3 control-label">Confirm password:</label>-->
          <!--<div class="col-md-8">-->
            <!--<input class="form-control" value="11111122333" type="password">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label class="col-md-3 control-label"></label>-->
          <!--<div class="col-md-8">-->
            <!--<input class="btn btn-primary" value="Save Changes" type="button">-->
            <!--<span></span>-->
            <!--<input class="btn btn-default" value="Cancel" type="reset">-->
          <!--</div>-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
