.description-block {
  background: #f0f0f0; /* Цвет фона */
  border: 1px; /* Параметры рамки */
  padding: 10px; /* Поля вокруг текста */
  border-radius: 7px;
}

/*.card {*/
  /*border: 1px solid #979797; !* Параметры рамки *!*/
  /*padding: 7px; !* Поля вокруг текста *!*/
  /*border-radius: 7px;*/
/*}*/

ul {
  list-style-type: none;
}

.date {
  padding-right: 15px;
}

.card {
  width: 100%;
}

.pink {
  color: #ff1e52;
}
.my_hr_style{
  border-top: 1px dotted #ea8100;
}
.my-card{
  margin-left: 15px;
}
